h1 {
    font-size: 100px;
    font-weight: 900;
    background-image: url(https://www.google.com/search?q=wallpaper+for+laptop&sca_esv=577823328&tbm=isch&sxsrf=AM9HkKkc8IyuVoa_Yl_WQr655h1pAlyrSA:1698676880154&source=lnms&sa=X&ved=2ahUKEwiUip7AgJ6CAxUcTmwGHSNoDXAQ_AUoAnoECAEQBA&biw=1366&bih=651&dpr=1#imgrc=Mu_kKrhUzjihqM);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: cover;
}